
.btn, .btn-primary {
    background-color: #990000;
}

.navbar-header a{
    background-color: #990000;
    color:white;
}

.btn-primary:hover {
    color: #fff;
    background-color: #484848;
    border-color: #484848;
}

.myclass {
    color: #fff;
    background-color: #990000;
    font-size: 150%;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 50px;
}

.jumbotron p {
    font-size: 20px;
    font-family: sans-serif;
}
.navbar-right a{
    float:right;
    color: white;
}
html,
body,
#map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}